
/* profile */

.profile_area{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    margin-right: auto;
    margin-left: auto;     
}

.profile_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile_col-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.profile_img{
    border-width: 1px;
    border-style: solid;
    border-color: #E5863D;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.profile_col-8{
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  background-color: #f8f9fa;
  padding: 0.5rem;
}

.profile_table{
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid #dee2e6;
    table-layout: auto;
    min-width: 200px;
}
  
.profile_table th:hover,
.profile_table td:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
  
.profile_table tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.profile_table th,
.profile_table td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 5px;
    word-break: break-all;
    text-align: center;
}
/*-----box for display projects project-----*/

.project-details{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.pro-title{
    padding-top: 3%;
    padding-bottom: 0;
    margin-left: 5%;
}

.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.pro{
    cursor: pointer;
    border-radius: 20px;
    /* height: 146px;
    width: 208px; */
    height: 250px;
    width: 350px;
    margin: 5px;
}

.pro:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 1);
}

.pro:active{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.pro-body{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    /* height: 116px;
    width: 208px; */
    height: 250px;
    width: 350px;
    color: #fff;
    font-size: 25px;
  }
  
  .pro-bottom{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    background-color: #eee;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    /* height: 30px;
    width: 208px; */
    height: 40px;
    width: 350px;
  }

  /*-----Table-----*/

a {
    text-decoration: none;
    text-transform: none;
    color: black;
}

.table{
    width: 100%;
}

.table_header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(240,240,240);
    border-radius: 20px 20px 0 0;
}

.table_header p{
    color: black;
}

button{
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    color: #E5863D;
}

button:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

button:active{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

td button:nth-child(1){
    background-color: #f2eaea;
}

td button:nth-child(2){
    background-color: #ffffff;
}

td button:nth-child(3){
    background-color: #ffffff;
}

.add___{
    padding: 10px 20px;
    color:#fff;
    background-color: #E5863D;
}

input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 8px;
    /* color: #E5863D; */
    
}

.table_section{
    height: auto;
    max-height: 450px;
    overflow: auto;
}

table{
    width:100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 30px;
}

thead th{
    position: sticky;
    top:  0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
    
}

th,td{
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
    word-break: break-all;
    text-align: center;
}

td img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ced0d2;
}

/*tr:hover td{
    color:#E5863D;
    cursor: pointer;
    background-color: #ced0d2;
}*/



::placeholder{
    color: #E5863D;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgb(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgb(0,0,0,0.3);
}

/*-- Form styles--*/

.form_container{
    margin: auto;
    margin-top: 20px;
    padding: 8px 200px;
    background-color: white;
    font-family: arial;
    max-width: 1000px;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}

.v_form-control{
    border : 1px solid black;
    color: black;
    font-size: medium;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin: 5px 0 25px 0;
}

.v_submit_button{
    border: none;
    width: 25%;
    height: 50px;
    margin: auto;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    background: #E5863D;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
    
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 12px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    font-size: medium;
}
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    font-size: medium;
}

.form-group::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 48%;
    float: left;
    margin-right: 2%;
}
.FormFieldset{
    border : 1px solid #ccc;
}
.Formlegend
{
  margin-bottom:0px;
  margin-left:16px;
  color: #E5863D;
}

.action-button{
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    color: #E5863D;
    border: 2px solid #E5863D;
}

/* --End of the form styles-- */


/* -- pricing -- */

.pricing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 5px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    padding: 2rem;
    margin: 1rem;
    transform: all 0,2s ease-in;
}
.card-wrapper:hover{
    transform: scale(1.1);
}
.card-header{
    margin: 1rem;
    text-align: center;
}
.card-wrapper:hover .card-header> h2{
    transform: scale(1.1);
    color: #5222d0;
    letter-spacing: 2;
}
.card-header img{
    width: 200px;
    display: block;
    margin: 0 auto;
}
.card-detail{
    width: 100%;
}
.card-detail >p{
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    border-bottom: 1px solid #d5d5d5;
}
.check{
    color: #5222d0;
}
.nocheck{
    color: #ec615b;
}
.card-detail >p :hover{
    background-color: #d5d5d5;
}
.card-price{
    display: flex;
    align-items: flex-start;
    margin: 1rem;
}
.card-price >p{
    font-size: 3rem;
    font-weight: 800;
}
.card-price >p >sup,
.card-price >p >sub{
    font-size: 1rem;
}

/* -- Progress Bar -- */

.progress-bar{
    background-color: grey;
    border-radius: 20px;
    height: 40px;
    width: 60%;
    margin-top: 8px;
}
.progress-done{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to left,#eb904a,#FB9661,#FCB088);
    box-shadow: 0px 5px -6px #eb904a, 0 3px 7px #FB9661;
    border-radius: 20px;
    color: #fff;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
}

/* progress bar end */

/* view of each one */

.viewTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.viewTableHeader {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 300px;
}
.viewTableData{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; 
    background-color: #f2f2f2; 
}


.attachment-table {
    margin-top: 20px;
}

/* view of each one end */

/* ratings */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


/* end of ratings */

/* Accept Reject Button */

.accept-button, .reject-button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    
}

.accept-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.accept-button:hover {
    background-color: #45a049;
}

.reject-button {
    background-color: #f44336; /* Red */
    color: white;
}

.reject-button:hover {
    background-color: #d32f2f;
}

/* End of Accept Reject Button */

/* display card */

.total-card {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E5863D;
    border-radius: 8px;
    text-align: center;
}

.total-amount {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card_label {
    color: #555;
}

/* end of display card */

.thankYouImg{
    height: 300px;
    width: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}


/* --Collapsible-- */

 .collapsible {
    background-color: #eca657;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid white;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .active, .collapsible:hover {
    background-color: #E5863D;
  }
  
  .collaps-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #E5863D; 
    color: #E5863D; 
    background-color: #FFF; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
  }

  .button:hover {
    background-color: #E5863D; 
    color: #FFF; 
  }

  .lableForCollaps{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 12px;
  }
  
  /* paint and tile selection */
  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
  }
  
    .input-container {
    position: relative;
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
  }
  
  .input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    
  }
  
  .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid #E5863D;
    border-radius: 8px;
    transition: all 300ms ease;
    
  }
  
  .radio-tile label{
    text-align: center;
  }
  
  .input-container label {
    color: #E5863D;
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

  }
  
  input:checked+.radio-tile {
    background-color: #E5863D;
    box-shadow: 0 0 12px #E5863D;
    transform: scale(1.1);
  }
  
  input:hover+.radio-tile {
    box-shadow: 0 0 12px #E5863D;
  }
  
  

  /* paint and tile selection end */
  .file_upload[type="file"]{
        display: none;
  }

/* delete view including buttons and msgs */

/* Style for the overlay background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the delete confirmation box */
  .delete-box {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
  }
  /* Style for the user name input field */
  .delete-user-input {
    width: calc(100% - 20px); /* Adjust width as needed */
    padding: 10px;
    margin: 10px 0 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
  }
  /* Style for the delete confirmation message */
  .delete-message {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style for the buttons */
  .delete-button, .cancel-button , .add-button,.save-button{
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    
  }
  
  .delete-button {
    background: #e74c3c; /* Red color for delete */
    color: #fff;
  }
  
  .cancel-button {
    background: #3498db; /* Blue color for cancel */
    color: #fff;
  }
  .add-button {
    background-color: #2ecc71; /* Green color for Add button */
    color: #fff;
  }
  .save-button {
    color: #fff;
    background-color: #2ecc71;
  }
  /* Hover effect for buttons */
  .delete-button:hover, .cancel-button:hover , .add-button:hover ,.save-button:hover{
    opacity: 0.8;
  }
  




  
